.slider3{
    width: 1305px;
    height: 220px;
    border: 0.5px solid rgba(154, 154, 154, 0.614);
    border-radius: 20px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    padding-bottom: 22px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.swiper3 {
  width: 140px;
  height: 100%;
  padding: 30px;
  text-align: center;
  margin: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.margin{
margin-top: 40px;
}
div.slider3 .slider33 div.swiper-wrapper div.swiper-slide {
  border-left: 0.5px solid  rgba(154, 154, 154, 0.614) ;
  margin-bottom: 18px;
}



div.slider3 .slider33 div.swiper-wrapper div.swiper-slide img {
  display: inline-block;
  width: 110px;
  height: 110px;
  object-fit: contain;
  box-sizing: border-box;
  vertical-align: middle;
}
div.slider3 .slider33>div.favorite{
  width: 500px;
  height: 10px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin-bottom: -20px;
  
}
div.slider3 .slider33>div.favorite>h5{
  font-size: 20px;
  font-family: var(--IranYekan);
  color: black;
  font-weight: lighter;
}
div.slider3 .slider33>div.favorite>h5>i{
  margin-left: 3px;
  color: #f9bc00;
}
